:host {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.multiselect {
  width: 100%;
  position: relative;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

/* Label */
.multiselect-label {
  display: block;
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 14px;
}

.required {
  color: red;
}

/* Campo principal (equivalente visual ao idsw-select) */
.select-box {
  width: 100%;
  height: 26px; /* padrão IDS */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  cursor: pointer;

  border-bottom: 1px solid #d0d0d0;
  box-sizing: border-box;
  color: #000;

  span {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.select-box:hover {
  border-bottom-color: #3f51b5;
}

/* Seta */
.arrow {
  margin-left: 8px;
  font-size: 14px;
  transition: transform 0.2s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

/* Dropdown */
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  margin-top: 4px;

  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;

  max-height: 200px;
  overflow-y: auto;

  z-index: 10;
  box-sizing: border-box;
}

/* Opções */
.option {
  padding: 10px 12px;
  cursor: pointer;
  font-size: 14px;
}

.option:hover {
  background: #f5f5f5;
}

.option.selected {
  background: #e8f0ff;
  font-weight: 500;
}

/* Caixa de selecionados */
.selected-box {
  width: 100%;
  margin-top: 16px;
  padding: 12px;

  border: 1px solid #e5e5f0;
  border-radius: 8px;

  box-sizing: border-box;
}

.selected-label {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 14px;
}

/* Chips */
.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.chip {
  display: flex;
  align-items: center;
  gap: 6px;

  padding: 4px 10px;
  border-radius: 16px;

  border: 1px solid #f0f;
  color: var(--main-color);
  font-size: 13px;

  background: #fff;
  box-sizing: border-box;
}

.chip button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  color: inherit;
}

/* Hint */
.hint {
  display: block;
  margin-top: 8px;
  font-size: 12px;
  color: #888;
}

idsw-icon {
  //   font-size: 14px;
  color: var(--main-color);
}
