.quick-access-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0px;

  padding: 0 20px 0 20px;
  min-height: 130px;

  color: #fff;
  border-radius: 14px;

  background: linear-gradient(90deg, #ff7a00, #ff5200);

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08), 0 2px 4px rgba(0, 0, 0, 0.06);

  cursor: pointer;
  user-select: none;

  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.08);
  }
}

.label {
  font-size: 14px;
  font-weight: 500;
  margin-top: 0;
}

.disabled {
  background: linear-gradient(90deg, #ff7a00, #ff5200);
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}
