strict-ssl=false
save-exact=true
prefer-online=true
legacy-peer-deps=true
registry=https://registry.npmjs.org/
# @cyberdefense-im2:registry=https://artifactory.prod.aws.cloud.ihf/artifactory/api/npm/itau-im2-npm-release/
# @quickweb:registry=https://artifactory.prod.aws.cloud.ihf/artifactory/api/npm/itau-sd4-npm-snapshot/
# @ids:registry=https://artifactory.prod.aws.cloud.ihf/artifactory/api/npm/itau-sd4-npm-snapshot/
# @voxel:registry=https://artifactory.prod.aws.cloud.ihf/artifactory/api/npm/itau-sd4-npm-snapshot/
# @microfrontend:registry=https://artifactory.prod.aws.cloud.ihf/artifactory/api/npm/itau-ey2-npm-snapshot/
